<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Workout!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/sampleworkout.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <p><input type="text" id="search" placeholder="Type something..." autocomplete="off"
                        class="form-control">
                </p>
                <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
            </form>

            <script src="https://yvoschaap.com/ytpage/ytembed.js"></script>

            <div id="ytThumbs"><ins>Made with the <a
                        href="https://yvoschaap.com/youtube.html?utm_source=generator">Youtube Embed
                        Generator</a>.</ins>
            </div>
            <script>
                ytEmbed.init({ 'block': 'ytThumbs', 'key': 'AIzaSyCVuN7GOKmyHIT0xtpd2WTM4n9pEI-zwXQ', 'q': 'prank', 'type': 'search', 'results': 1, 'meta': true, 'player': 'embed', 'layout': 'full' });
            </script>

            <div id="results">
                <h3>hello</h3>
            </div>

        </div>
    </div>

    <button id="samplemm">MM100</button>
    <!-- <p id="samplemm">Morning Meltdown 100!</p> -->
    <div id="video"></div>

    <!-- scripts -->



</body>

</html>